body {
	font-family: sans-serif, arial, times;
	width: 100%;
	max-width: 1000px;
	color: black;
	margin-left: 5%;

}

#container {
	max-width: 1000px;
}

#instructions {
	font-size: 18px;
	line-height: 27px;
	margin-bottom: 5px;
}

h1 {
	font-size: 48px;
	line-height: 64px;
}

#puppies img {
	width: 200px;
}

#game_1 {
	border: 2px purple dashed;
	width: 30%;
	padding: 5px;
	font-size: 28px;
	line-height: 42px;
	text-align: center;
}

#player {
	margin: 10px 0;
	width: 30%;
	border: 2px blue solid;
	padding: 5px;
}

#puppies img:hover {
	opacity: 0.1;
}

#wins {
	color: green;
}

#losses {
	color: red;
}

#player {
	font-size: 28px;
	line-height: 42px;
	text-align: center;
}